<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item ml-4" id="logo" href="/cats">
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end mr-4">
      <a class="navbar-item" href="/cats">Home</a>
      <a class="navbar-item" href="/cats/new">Add Cat</a>
    </div>
  </div>
</nav>
