<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item ml-4 mb-1" id="logo" href="/cats">
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
<div class="navbar-menu" id="navMenu">
  <div class="navbar-start">
    <form action="/sessions?_method=DELETE" method="POST">
      <input class="navbar-item my-2" type="submit" id="submit" value="Log Out" />
    </form>
<span class="my-5" id="bye">&#128075;</span>
  </div>
  <div class="navbar-end mr-4">
    <a class="navbar-item" href="/cats">Home</a>
    <a class="navbar-item" href="/cats/new">Add Cat</a>
    <a class="navbar-item" href="/cats">Visit</a>
      <a class="navbar-item" href="/cats">Get Involved</a>
      <a class="navbar-item" href="/cats">Foster</a>
      <a class="navbar-item" href="/cats">Donate</a>
    </div>
  </div>
</nav>
