<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item ml-4" id="logo" href="/cats">
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end mr-4">
      <a class="navbar-item" href="/cats">Home</a>
      <a class="navbar-item" href="/sessions/new">Log In</a>
      <a class="navbar-item" href="/users/new">Create an Account</a>
      <a class="navbar-item" href="/adopt/new">Adopt</a>
      <a class="navbar-item" href="https://www.catcafebk.com/">About</a>
      <a class="navbar-item" href="https://www-1558h.bookeo.com/bookeo/b_catcafebk_start.html?ctlsrc2=vsKdo7fqFqrB5LZ3p5d5GnCJOShdIULhMX8Ea%2FHGms4%3D&src=03t">Visit</a>
        <a class="navbar-item" href="https://www.catcafebk.com/volunteer">Get Involved</a>
        <a class="navbar-item" href="https://www.catcafebk.com/foster">Foster</a>
        <a class="navbar-item" href="https://www.catcafebk.com/support">Donate</a>
    </div>
  </div>
</nav>
