<footer class="footer pb-1">
  <div class="content has-text-centered">
    <a class="footer-text" href="/cats">Home</a> | <a class="footer-text" href="/adopt/new">Adopt</a> | <a class="footer-text" href="https://www.catcafebk.com/">About</a> | <a class="footer-text" href="https://www-1558h.bookeo.com/bookeo/b_catcafebk_start.html?ctlsrc2=vsKdo7fqFqrB5LZ3p5d5GnCJOShdIULhMX8Ea%2FHGms4%3D&src=03t">Visit</a> | <a class="footer-text" href="https://www.catcafebk.com/volunteer">Get Involved</a> | <a class="footer-text" href="https://www.catcafebk.com/foster">Foster</a> | <a class="footer-text" href="https://www.catcafebk.com/support">Donate</a>
    <hr>
    <p id="my-footer">Built by Jessica Gallagher</p><br>
    <p id="footer-logo"></p>
  </div>
</footer>
