@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Montserrat&display=swap');

:root {
  --turqoise: #66bfbf;
  --turqoise-lt: #eaf6f6;
  --offwhite: #fcfefe;
  --pink: #f76b8a;
  --black-lt: #212121;
  --grey-dk: #757575;
  --grey: #BDBDBD;
  --black: #000000;
  --main-font-family: 'Montserrat', sans-serif;
  --accent-font-family: 'Just Another Hand', cursive;
}

html, body {
  height: 100% !important;
  margin: 0 !important;
}

body {
  background: var(--turqoise-lt);
  font-family: var(--main-font-family);
}

a:hover {
  color: var(--turqoise) !important;
}

a:active {
  color: var(--offwhite) !important;
}

a:focus {
  color: var(--offwhite) !important;
}

img {
  cursor: pointer;
  display: block;
  height: 12em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  max-width: 12em;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  flex: 1;
  margin-top: -3em !important;
}

.navbar {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
  background-blend-mode: multiply, multiply;
  box-shadow:
    0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028),
    0 2.9px 10px rgba(0, 0, 0, 0.035),
    0 5.1px 17.9px rgba(0, 0, 0, 0.042),
    0 9.6px 33.4px rgba(0, 0, 0, 0.05),
    0 23px 80px rgba(0, 0, 0, 0.07);
}

.navbar-item, .showpage-controls {
  color: var(--pink);
  font-family: var(--accent-font-family);
  font-size: 2em;
  text-decoration: none;
}

.title {
  color: white;
  font-family: var(--main-font-family);
  font-size: 3em;
  text-align: center;
}

.subtitle {
  color: white;
  font-family: var(--main-font-family);
  font-size: 1.5em;
  text-align: center;
}

.page-wrapper {
  background: var(--turqoise-lt);
  display: flex;
  justify-content: center;
  padding: 1em;
}

.page-content {
  animation: fade-in 1s ease;
  background: var(--turqoise-lt);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.each-item {
  align-items: center;
  background: var(--offwhite);
  border-radius: 15px;
  box-shadow:
    0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028),
    0 2.9px 10px rgba(0, 0, 0, 0.035),
    0 5.1px 17.9px rgba(0, 0, 0, 0.042),
    0 9.6px 33.4px rgba(0, 0, 0, 0.05),
    0 23px 80px rgba(0, 0, 0, 0.07);
  color: var(--black-lt);
  display: flex;
  flex-direction: column;
  height: 22em;
  margin: 1em;
  padding: 1em;
  width: 22em;
}

.each-item:hover {
  border: 1px solid var(--turqoise);
}

.each-name {
  color: var(--turqoise);
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.footer {
  background: var(--turqoise);
}

.intake-title {
  color: var(--turqoise);
  font-family: var(--accent-font-family);
  font-size: 3em;
  text-align: center;
}

.field {
  margin: auto !important;
}

.for-inputs {
  color: var(--black-lt);
  font-family: var(--main-font-family);
  font-size: 1em;
  font-weight: 700;
}

.column {
  animation: fade-in 1s ease;
}

#logo {
  background: url(/images/logo.png) no-repeat center;
  background-size: cover;
  height: 75px;
  margin-top: 5px;
  width: 61px;
}

#hero {
  background: url(/images/hero.JPG) no-repeat center;
  background-size: cover;
  box-shadow:
    0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028),
    0 2.9px 10px rgba(0, 0, 0, 0.035),
    0 5.1px 17.9px rgba(0, 0, 0, 0.042),
    0 9.6px 33.4px rgba(0, 0, 0, 0.05),
    0 23px 80px rgba(0, 0, 0, 0.07);
  height: 400px;
  margin: -1em;
}

#index-page {
  color: var(--pink);
  font-family: var(--accent-font-family);
  font-size: 3em;
  text-align: center;
}

#my-footer {
  color: var(--grey-dk);
  font-family: var(--accent-font-family);
  font-size: 2em;
}

#footer-logo {
  background: url(/images/logo.png) no-repeat center;
  background-size: cover;
  height: 75px;
  margin: 0 auto;
  width: 61px;
}

#submit-button {
  background: var(--grey-dk);
  box-shadow:
    0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028),
    0 2.9px 10px rgba(0, 0, 0, 0.035),
    0 5.1px 17.9px rgba(0, 0, 0, 0.042),
    0 9.6px 33.4px rgba(0, 0, 0, 0.05),
    0 23px 80px rgba(0, 0, 0, 0.07);
  color: var(--offwhite);
  cursor: pointer;
  font-family: var(--main-font-family);
  font-weight: 700;
}

#submit-button:hover {
  background: var(--pink);
  box-shadow:
    0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028),
    0 2.9px 10px rgba(0, 0, 0, 0.035),
    0 5.1px 17.9px rgba(0, 0, 0, 0.042),
    0 9.6px 33.4px rgba(0, 0, 0, 0.05),
    0 23px 80px rgba(0, 0, 0, 0.07);
  color: var(--offwhite);
  cursor: pointer;
  font-family: var(--main-font-family);
  font-weight: 700;
}

#show {
  cursor: auto;
  height: 20em;
  max-width: 20em;
}

#show-text {
  text-align: justify;
  margin-right: 6em;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-40px)
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
