@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Montserrat&display=swap');

:root {
  --turqoise: #66bfbf;
  --turqoise-lt: #eaf6f6;
  --offwhite: #fcfefe;
  --pink: #f76b8a;
  --black-lt: #212121;
  --grey-dk: #757575;
  --grey: #BDBDBD;
  --black: #000000;
  --main-font-family: 'Montserrat', sans-serif;
  --accent-font-family: 'Just Another Hand', cursive;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: var(--turqoise-lt);
  font-family: var(--main-font-family);
}

a:hover {
  color: var(--turqoise) !important;
}

.navbar {
  background: var(--grey-dk);
  box-shadow:
    0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028),
    0 2.9px 10px rgba(0, 0, 0, 0.035),
    0 5.1px 17.9px rgba(0, 0, 0, 0.042),
    0 9.6px 33.4px rgba(0, 0, 0, 0.05),
    0 23px 80px rgba(0, 0, 0, 0.07);
}

.navbar-item {
  color: var(--pink);
  font-family: var(--accent-font-family);
  font-size: 3em;
  text-decoration: none;
}

.title {
  color: white;
  font-family: var(--main-font-family);
  font-size: 3em;
  text-align: center;
}

.subtitle {
  color: white;
  font-family: var(--main-font-family);
  font-size: 1.5em;
  text-align: center;
}

.footer {
  background: var(--turqoise);
}

.intake-title {
  color: var(--turqoise);
  font-family: var(--accent-font-family);
  font-size: 3em;
  text-align: center;
}

.field {
  margin: auto !important;
}

.for-inputs {
  color: var(--black-lt);
  font-family: var(--main-font-family);
  font-size: 1em;
  font-weight: 700;
}

#logo {
  background: url(/images/logo.png) no-repeat center;
  background-size: cover;
  height: 75px;
  margin-top: 5px;
  width: 61px;
}

#hero {
  background: url(/images/hero.JPG) no-repeat center;
  background-size: cover;
  box-shadow:
    0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028),
    0 2.9px 10px rgba(0, 0, 0, 0.035),
    0 5.1px 17.9px rgba(0, 0, 0, 0.042),
    0 9.6px 33.4px rgba(0, 0, 0, 0.05),
    0 23px 80px rgba(0, 0, 0, 0.07);
  height: 400px;
}

#my-footer {
  color: var(--grey-dk);
  font-family: var(--accent-font-family);
  font-size: 2em;
}

#footer-logo {
  background: url(/images/logo.png) no-repeat center;
  background-size: cover;
  height: 75px;
  margin: 0 auto;
  width: 61px;
}

#submit-button {
  background: var(--grey-dk);
  box-shadow:
    0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028),
    0 2.9px 10px rgba(0, 0, 0, 0.035),
    0 5.1px 17.9px rgba(0, 0, 0, 0.042),
    0 9.6px 33.4px rgba(0, 0, 0, 0.05),
    0 23px 80px rgba(0, 0, 0, 0.07);
  color: var(--offwhite);
  font-family: var(--main-font-family);
  font-weight: 700;
}

#submit-button:hover {
  background: var(--pink);
  box-shadow:
    0 0.6px 2.2px rgba(0, 0, 0, 0.02),
    0 1.5px 5.3px rgba(0, 0, 0, 0.028),
    0 2.9px 10px rgba(0, 0, 0, 0.035),
    0 5.1px 17.9px rgba(0, 0, 0, 0.042),
    0 9.6px 33.4px rgba(0, 0, 0, 0.05),
    0 23px 80px rgba(0, 0, 0, 0.07);
  color: var(--offwhite);
  font-family: var(--main-font-family);
  font-weight: 700;
}
