<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body class="has-navbar-fixed-top has-spaced-navbar-fixed-top main">
  <%- include ('../partials/unauth_nav.ejs') %>
  <h1 class="intake-title my-5">Log In</h1>
  <%- include ('../partials/sign_in_form.ejs', {method: 'notpost'}) %>
  <%- include ('../partials/footer.ejs') %>
</body>

</html>