<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body class="has-navbar-fixed-top has-spaced-navbar-fixed-top main">
  <%- include ('../partials/nav.ejs') %>
  <img class="my-5" id="adopt-confirm" src="https://images.pexels.com/photos/1576193/pexels-photo-1576193.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="cat screaming">
  <h1 id="confirm-text">HOORAY! We've received your adoption form and will be getting back to you soon! You'll be redirected back home in 10 seconds. In the meantime, sit back, relax, and have a meow-tini.</h1>
  <%- include ('../partials/footer.ejs') %>
  <script>
    setTimeout(function(){
            window.location.href = '/cats';
         }, 10000);
  </script>
</body>

</html>
