<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body class="has-navbar-fixed-top has-spaced-navbar-fixed-top">
  <%- include ('../partials/nav.ejs') %>
  <h1 class="intake-title my-2">New Cat Intake Form</h1>
  <%- include ('../partials/intake_form.ejs', {method: 'post'}) %>
  <%- include ('../partials/footer.ejs') %>
</body>

</html>