<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body class="has-navbar-fixed-top has-spaced-navbar-fixed-top main">
  <%- include ('../partials/welcome_back_nav.ejs') %>
  <img class="my-5" id="adopt-confirm" src="https://images.pexels.com/photos/1576193/pexels-photo-1576193.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="cat screaming">
  <h1 id="confirm-text">HOORAY! We've received your adoption form and will be getting back to you soon! In the meantime, sit back, relax, take a look around, and have a meow-tini.</h1>
  <%- include ('../partials/visitor_footer.ejs') %>
</body>

</html>