<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body class="has-navbar-fixed-top has-spaced-navbar-fixed-top">
  <%- include ('../partials/welcome_back_nav.ejs') %>
  <%- include ('../partials/unauth_with_residents.ejs') %>
  <%- include ('../partials/visitor_footer.ejs') %>
</body>

</html>